<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>
  <style type="text/css">code{white-space: pre;}</style>
</head>
<body>
$if(title)$
<header class="coverpage">
  <div class="covermiddle">
    <h1 class="bigtitle">$title$</h1>
    $for(author)$
    <p class="author">$author.name$</p>
    $endfor$
    $if(date)$
    <h3 class="date">$date$</h3>
    $endif$
  </div>
  <div class="coverbottom">
    <img class="inlogo" src="./theme/internews_logo.svg" alt="Internews Logo" />
  </div>
</header>
$endif$
$if(toc)$
<nav id="$idprefix$TOC" class="toc">
<h1 class="bigtitle">Table Of Contents</h1>
<hr>
$toc$
</nav>
$endif$
$body$
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
